<li class="list-group-item d-flex justify-content-between">
    {{@index}}. {{burger_name}}

  {{#unless devoured}}
    <button class="devour-btn m-2" data-id="{{id}}">Devour it!</button>
  {{/unless}}
</li>